<div id="users_<%=user.id%>" class="">
  <%=image_tag user.profile_image_url%>
  <div class="panel_accinfo">
    <span class="twit_name"><%=user.name%></span>
    <a href="http://twitter.com/<%=user.screen_name%>"><span><%=user.screen_name%></span></a>
  </div>
</div>

