<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title>Comugiメインページ</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="lists">
  <% if flash[:notice].present? %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <% if flash[:alert].present? %>
    <div class="alert alert-error">
      <%= flash[:alert] %>
    </div>
  <% end %>

  <header class="menu">
    <div class="icons">
      <%=link_to image_tag('list.png'), :requests %>
      <%=link_to image_tag('follow.png'), :follows %>
      <%=link_to image_tag('followers.png'), :followers %>
    </div>
  </header>

<%= yield %>

</body>
</html>
